<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit recipe</title>
</head>
<body>
<h1>Edit Recipe : {{ recipe.title }}</h1>
{{ include('form.html.twig', {'button_label': 'Edit'}) }}
</body>
</html>
